wheel==0.45.1
behave==1.2.6
jsonschema==2.6.0
coverage==7.12.1
setuptools==80.9.0;python_version>="3.12"

# Pytest specific deps
pytest==8.4.2
pytest-cov==6.2.1
pytest-xdist==3.8.0
atomicwrites>=1.0 # Windows requirement
colorama>0.3.0 # Windows requirement
