wheel==0.45.0
behave==1.2.6
jsonschema==2.6.0
coverage==7.6.7
setuptools==75.6.0;python_version>="3.12"

# Pytest specific deps
pytest==8.3.3
pytest-cov==2.12.1
pytest-xdist==6.0.0
atomicwrites>=1.0 # Windows requirement
colorama>0.3.0 # Windows requirement
