{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2006-03-01",
    "checksumFormat":"md5",
    "endpointPrefix":"s3",
    "globalEndpoint":"s3.amazonaws.com",
    "protocol":"rest-xml",
    "serviceAbbreviation":"Amazon S3",
    "serviceFullName":"Amazon Simple Storage Service",
    "serviceId":"s3",
    "signatureVersion":"s3v4",
    "timestampFormat":"rfc822",
    "uid":"s3-2006-03-01"
  },
  "operations":{
    "AbortMultipartUpload":{
      "name":"AbortMultipartUpload",
      "http":{
        "method":"DELETE",
        "requestUri":"/{Bucket}/{Key+}"
      },
      "input":{"shape":"AbortMultipartUploadRequest"},
      "output":{"shape":"AbortMultipartUploadOutput"},
      "errors":[
        {"shape":"NoSuchUpload"}
      ],
      "__documentationUrl":"http://docs.amazonwebservices.com/AmazonS3/latest/API/mpUploadAbort.html",
      "documentation":"<p>Aborts a multipart upload.</p><p>To verify that all parts have been removed, so you don't get charged for the part storage, you should call the List Parts operation and ensure the parts list is empty.</p>"
    },
    "AddLegalHold":{
      "name":"AddLegalHold",
      "http":{
        "method":"POST",
        "requestUri":"/{Bucket}/{Key+}?legalHold&add={RetentionLegalHoldId}"
      },
      "input":{"shape":"LegalHoldRequest"},
      "documentation":"Add a legal hold on an object. The legal hold identifiers are stored in the object metadata along with the timestamp of when they are POSTed to the object. The presence of any legal hold identifiers prevents the modification or deletion of the object data, even if the retention period has expired. Legal Holds can only be added to objects in a bucket with a protection policy. Otherwise a 400 error will be returned."
    },
    "CompleteMultipartUpload":{
      "name":"CompleteMultipartUpload",
      "http":{
        "method":"POST",
        "requestUri":"/{Bucket}/{Key+}"
      },
      "input":{"shape":"CompleteMultipartUploadRequest"},
      "output":{"shape":"CompleteMultipartUploadOutput"},
      "__documentationUrl":"http://docs.amazonwebservices.com/AmazonS3/latest/API/mpUploadComplete.html",
      "documentation":"Completes a multipart upload by assembling previously uploaded parts."
    },
    "CopyObject":{
      "name":"CopyObject",
      "http":{
        "method":"PUT",
        "requestUri":"/{Bucket}/{Key+}"
      },
      "input":{"shape":"CopyObjectRequest"},
      "output":{"shape":"CopyObjectOutput"},
      "errors":[
        {"shape":"ObjectNotInActiveTierError"}
      ],
      "__documentationUrl":"http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTObjectCOPY.html",
      "documentation":"Creates a copy of an object that is already stored in Amazon S3.",
      "alias":"PutObjectCopy"
    },
    "CreateBucket":{
      "name":"CreateBucket",
      "http":{
        "method":"PUT",
        "requestUri":"/{Bucket}"
      },
      "input":{"shape":"CreateBucketRequest"},
      "output":{"shape":"CreateBucketOutput"},
      "errors":[
        {"shape":"BucketAlreadyExists"},
        {"shape":"BucketAlreadyOwnedByYou"}
      ],
      "__documentationUrl":"http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketPUT.html",
      "documentation":"Creates a new bucket.",
      "alias":"PutBucket"
    },
    "CreateMultipartUpload":{
      "name":"CreateMultipartUpload",
      "http":{
        "method":"POST",
        "requestUri":"/{Bucket}/{Key+}?uploads"
      },
      "input":{"shape":"CreateMultipartUploadRequest"},
      "output":{"shape":"CreateMultipartUploadOutput"},
      "__documentationUrl":"http://docs.amazonwebservices.com/AmazonS3/latest/API/mpUploadInitiate.html",
      "documentation":"<p>Initiates a multipart upload and returns an upload ID.</p><p><b>Note:</b> After you initiate multipart upload and upload one or more parts, you must either complete or abort multipart upload in order to stop getting charged for storage of the uploaded parts. Only after you either complete or abort multipart upload, Amazon S3 frees up the parts storage and stops charging you for the parts storage.</p>",
      "alias":"InitiateMultipartUpload"
    },
    "DeleteBucket":{
      "name":"DeleteBucket",
      "http":{
        "method":"DELETE",
        "requestUri":"/{Bucket}"
      },
      "input":{"shape":"DeleteBucketRequest"},
      "__documentationUrl":"http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketDELETE.html",
      "documentation":"Deletes the bucket. All objects in the bucket must be deleted before the bucket itself can be deleted."
    },
    "DeleteBucketAnalyticsConfiguration":{
      "name":"DeleteBucketAnalyticsConfiguration",
      "http":{
        "method":"DELETE",
        "requestUri":"/{Bucket}?analytics"
      },
      "input":{"shape":"DeleteBucketAnalyticsConfigurationRequest"},
      "documentation":"Deletes an analytics configuration for the bucket (specified by the analytics configuration ID)."
    },
    "DeleteBucketCors":{
      "name":"DeleteBucketCors",
      "http":{
        "method":"DELETE",
        "requestUri":"/{Bucket}?cors"
      },
      "input":{"shape":"DeleteBucketCorsRequest"},
      "__documentationUrl":"http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketDELETEcors.html",
      "documentation":"Deletes the cors configuration information set for the bucket."
    },
    "DeleteBucketInventoryConfiguration":{
      "name":"DeleteBucketInventoryConfiguration",
      "http":{
        "method":"DELETE",
        "requestUri":"/{Bucket}?inventory"
      },
      "input":{"shape":"DeleteBucketInventoryConfigurationRequest"},
      "documentation":"Deletes an inventory configuration (identified by the inventory ID) from the bucket."
    },
    "DeleteBucketLifecycle":{
      "name":"DeleteBucketLifecycle",
      "http":{
        "method":"DELETE",
        "requestUri":"/{Bucket}?lifecycle"
      },
      "input":{"shape":"DeleteBucketLifecycleRequest"},
      "__documentationUrl":"http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketDELETElifecycle.html",
      "documentation":"Deletes the lifecycle configuration from the bucket."
    },
    "DeleteBucketMetricsConfiguration":{
      "name":"DeleteBucketMetricsConfiguration",
      "http":{
        "method":"DELETE",
        "requestUri":"/{Bucket}?metrics"
      },
      "input":{"shape":"DeleteBucketMetricsConfigurationRequest"},
      "documentation":"Deletes a metrics configuration (specified by the metrics configuration ID) from the bucket."
    },
    "DeleteBucketPolicy":{
      "name":"DeleteBucketPolicy",
      "http":{
        "method":"DELETE",
        "requestUri":"/{Bucket}?policy"
      },
      "input":{"shape":"DeleteBucketPolicyRequest"},
      "__documentationUrl":"http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketDELETEpolicy.html",
      "documentation":"Deletes the policy from the bucket."
    },
    "DeleteBucketReplication":{
      "name":"DeleteBucketReplication",
      "http":{
        "method":"DELETE",
        "requestUri":"/{Bucket}?replication"
      },
      "input":{"shape":"DeleteBucketReplicationRequest"},
      "documentation":"Deletes the replication configuration from the bucket."
    },
    "DeleteBucketTagging":{
      "name":"DeleteBucketTagging",
      "http":{
        "method":"DELETE",
        "requestUri":"/{Bucket}?tagging",
        "responseCode":204
      },
      "input":{"shape":"DeleteBucketTaggingRequest"},
      "documentationUrl":"http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketDELETEtagging.html",
      "documentation":"<p>Deletes the tags from the bucket.</p>"
    },
    "DeleteBucketWebsite":{
      "name":"DeleteBucketWebsite",
      "http":{
        "method":"DELETE",
        "requestUri":"/{Bucket}?website"
      },
      "input":{"shape":"DeleteBucketWebsiteRequest"},
      "__documentationUrl":"http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketDELETEwebsite.html",
      "documentation":"This operation removes the website configuration from the bucket."
    },
    "DeleteLegalHold":{
      "name":"DeleteLegalHold",
      "http":{
        "method":"POST",
        "requestUri":"/{Bucket}/{Key+}?legalHold&remove={RetentionLegalHoldId}"
      },
      "input":{"shape":"LegalHoldRequest"},
      "documentation":"Remove Legal hold on an object. The legal hold identifiers are stored in the object metadata along with the timestamp of when they are POSTed to the object. The presence of any legal hold identifiers prevents the modification or deletion of the object data, even if the retention period has expired."
    },
    "DeleteObject":{
      "name":"DeleteObject",
      "http":{
        "method":"DELETE",
        "requestUri":"/{Bucket}/{Key+}"
      },
      "input":{"shape":"DeleteObjectRequest"},
      "output":{"shape":"DeleteObjectOutput"},
      "__documentationUrl":"http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTObjectDELETE.html",
      "documentation":"Removes an object. If the object doesn't exist, Amazon S3 does not remove any objects."
    },
    "DeleteObjects":{
      "name":"DeleteObjects",
      "http":{
        "method":"POST",
        "requestUri":"/{Bucket}?delete"
      },
      "input":{"shape":"DeleteObjectsRequest"},
      "output":{"shape":"DeleteObjectsOutput"},
      "__documentationUrl":"http://docs.amazonwebservices.com/AmazonS3/latest/API/multiobjectdeleteapi.html",
      "documentation":"This operation enables you to delete multiple objects from a bucket using a single HTTP request. You may specify up to 1000 keys.",
      "alias":"DeleteMultipleObjects"
    },
    "ExtendObjectRetention":{
      "name":"ExtendObjectRetention",
      "http":{
        "method":"POST",
        "requestUri":"/{Bucket}/{Key+}?extendRetention"
      },
      "input":{"shape":"ExtendObjectRetentionRequest"},
      "documentation": "This implementation of the POST operation uses the extendRetention sub-resource to extend the retention period of a protected object in a protected vault."
    },
    "GetBucketAccelerateConfiguration":{
      "name":"GetBucketAccelerateConfiguration",
      "http":{
        "method":"GET",
        "requestUri":"/{Bucket}?accelerate"
      },
      "input":{"shape":"GetBucketAccelerateConfigurationRequest"},
      "output":{"shape":"GetBucketAccelerateConfigurationOutput"},
      "documentation":"Returns the accelerate configuration of a bucket."
    },
    "GetBucketAcl":{
      "name":"GetBucketAcl",
      "http":{
        "method":"GET",
        "requestUri":"/{Bucket}?acl"
      },
      "input":{"shape":"GetBucketAclRequest"},
      "output":{"shape":"GetBucketAclOutput"},
      "__documentationUrl":"http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketGETacl.html",
      "documentation":"Gets the access control policy for the bucket."
    },
    "GetBucketAnalyticsConfiguration":{
      "name":"GetBucketAnalyticsConfiguration",
      "http":{
        "method":"GET",
        "requestUri":"/{Bucket}?analytics"
      },
      "input":{"shape":"GetBucketAnalyticsConfigurationRequest"},
      "output":{"shape":"GetBucketAnalyticsConfigurationOutput"},
      "documentation":"Gets an analytics configuration for the bucket (specified by the analytics configuration ID)."
    },
    "GetBucketAspera":{
      "name":"GetBucketAspera",
      "http":{
        "method":"GET",
        "requestUri":"/{Bucket}?faspConnectionInfo"
      },
      "input":{"shape":"GetBucketAsperaRequest"},
      "output":{"shape":"GetBucketAsperaOutput"},
      "documentationUrl":"",
      "documentation":"Gets Aspera access and secret keys for the bucket."
    },
    "GetBucketCors":{
      "name":"GetBucketCors",
      "http":{
        "method":"GET",
        "requestUri":"/{Bucket}?cors"
      },
      "input":{"shape":"GetBucketCorsRequest"},
      "output":{"shape":"GetBucketCorsOutput"},
      "__documentationUrl":"http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketGETcors.html",
      "documentation":"Returns the cors configuration for the bucket."
    },
    "GetBucketInventoryConfiguration":{
      "name":"GetBucketInventoryConfiguration",
      "http":{
        "method":"GET",
        "requestUri":"/{Bucket}?inventory"
      },
      "input":{"shape":"GetBucketInventoryConfigurationRequest"},
      "output":{"shape":"GetBucketInventoryConfigurationOutput"},
      "documentation":"Returns an inventory configuration (identified by the inventory ID) from the bucket."
    },
    "GetBucketLifecycleConfiguration":{
      "name":"GetBucketLifecycleConfiguration",
      "http":{
        "method":"GET",
        "requestUri":"/{Bucket}?lifecycle"
      },
      "input":{"shape":"GetBucketLifecycleConfigurationRequest"},
      "output":{"shape":"GetBucketLifecycleConfigurationOutput"},
      "documentation":"Returns the lifecycle configuration information set on the bucket."
    },
    "GetBucketLocation":{
      "name":"GetBucketLocation",
      "http":{
        "method":"GET",
        "requestUri":"/{Bucket}?location"
      },
      "input":{"shape":"GetBucketLocationRequest"},
      "output":{"shape":"GetBucketLocationOutput"},
      "__documentationUrl":"http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketGETlocation.html",
      "documentation":"Returns the region the bucket resides in."
    },
    "GetBucketMetricsConfiguration":{
      "name":"GetBucketMetricsConfiguration",
      "http":{
        "method":"GET",
        "requestUri":"/{Bucket}?metrics"
      },
      "input":{"shape":"GetBucketMetricsConfigurationRequest"},
      "output":{"shape":"GetBucketMetricsConfigurationOutput"},
      "documentation":"Gets a metrics configuration (specified by the metrics configuration ID) from the bucket."
    },
    "GetBucketProtectionConfiguration":{
      "name":"GetBucketProtectionConfiguration",
      "http":{
        "method":"GET",
        "requestUri":"/{Bucket}?protection"
      },
      "input":{"shape":"GetBucketProtectionConfigurationRequest"},
      "output":{"shape":"GetBucketProtectionConfigurationOutput"},
      "documentation":"Returns the protection configuration of a bucket.EnablePermanentRetention flag will only be returned if the flag is set to true for a bucket."
    },
    "GetBucketReplication":{
      "name":"GetBucketReplication",
      "http":{
        "method":"GET",
        "requestUri":"/{Bucket}?replication"
      },
      "input":{"shape":"GetBucketReplicationRequest"},
      "output":{"shape":"GetBucketReplicationOutput"},
      "documentation":"Returns the replication configuration of a bucket."
    },
    "GetBucketTagging":{
      "name":"GetBucketTagging",
      "http":{
        "method":"GET",
        "requestUri":"/{Bucket}?tagging"
      },
      "input":{"shape":"GetBucketTaggingRequest"},
      "output":{"shape":"GetBucketTaggingOutput"},
      "documentationUrl":"http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketGETtagging.html",
      "documentation":"<p>Returns the tag set associated with the bucket.</p>"
    },
    "GetBucketVersioning":{
      "name":"GetBucketVersioning",
      "http":{
        "method":"GET",
        "requestUri":"/{Bucket}?versioning"
      },
      "input":{"shape":"GetBucketVersioningRequest"},
      "output":{"shape":"GetBucketVersioningOutput"},
      "documentationUrl":"http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketGETversioningStatus.html",
      "documentation":"<p>Returns the versioning state of a bucket.</p>"
    },
    "GetObject":{
      "name":"GetObject",
      "http":{
        "method":"GET",
        "requestUri":"/{Bucket}/{Key+}"
      },
      "input":{"shape":"GetObjectRequest"},
      "output":{"shape":"GetObjectOutput"},
      "errors":[
        {"shape":"NoSuchKey"}
      ],
      "__documentationUrl":"http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTObjectGET.html",
      "documentation":"Retrieves objects from Amazon S3."
    },
    "GetObjectAcl":{
      "name":"GetObjectAcl",
      "http":{
        "method":"GET",
        "requestUri":"/{Bucket}/{Key+}?acl"
      },
      "input":{"shape":"GetObjectAclRequest"},
      "output":{"shape":"GetObjectAclOutput"},
      "errors":[
        {"shape":"NoSuchKey"}
      ],
      "__documentationUrl":"http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTObjectGETacl.html",
      "documentation":"Returns the access control list (ACL) of an object."
    },
    "GetObjectTorrent":{
      "name":"GetObjectTorrent",
      "http":{
        "method":"GET",
        "requestUri":"/{Bucket}/{Key+}?torrent"
      },
      "input":{"shape":"GetObjectTorrentRequest"},
      "output":{"shape":"GetObjectTorrentOutput"},
      "__documentationUrl":"http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTObjectGETtorrent.html",
      "documentation":"Return torrent files from a bucket."
    },
    "HeadBucket":{
      "name":"HeadBucket",
      "http":{
        "method":"HEAD",
        "requestUri":"/{Bucket}"
      },
      "input":{"shape":"HeadBucketRequest"},
      "output":{"shape":"HeadBucketOutput"},
      "errors":[
        {"shape":"NoSuchBucket"}
      ],
      "__documentationUrl":"http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketHEAD.html",
      "documentation":"This operation is useful to determine if a bucket exists and you have permission to access it."
    },
    "HeadObject":{
      "name":"HeadObject",
      "http":{
        "method":"HEAD",
        "requestUri":"/{Bucket}/{Key+}"
      },
      "input":{"shape":"HeadObjectRequest"},
      "output":{"shape":"HeadObjectOutput"},
      "errors":[
        {"shape":"NoSuchKey"}
      ],
      "__documentationUrl":"http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTObjectHEAD.html",
      "documentation":"The HEAD operation retrieves metadata from an object without returning the object itself. This operation is useful if you're only interested in an object's metadata. To use HEAD, you must have READ access to the object."
    },
    "ListBucketAnalyticsConfigurations":{
      "name":"ListBucketAnalyticsConfigurations",
      "http":{
        "method":"GET",
        "requestUri":"/{Bucket}?analytics"
      },
      "input":{"shape":"ListBucketAnalyticsConfigurationsRequest"},
      "output":{"shape":"ListBucketAnalyticsConfigurationsOutput"},
      "documentation":"Lists the analytics configurations for the bucket."
    },
    "ListBucketInventoryConfigurations":{
      "name":"ListBucketInventoryConfigurations",
      "http":{
        "method":"GET",
        "requestUri":"/{Bucket}?inventory"
      },
      "input":{"shape":"ListBucketInventoryConfigurationsRequest"},
      "output":{"shape":"ListBucketInventoryConfigurationsOutput"},
      "documentation":"Returns a list of inventory configurations for the bucket."
    },
    "ListBucketMetricsConfigurations":{
      "name":"ListBucketMetricsConfigurations",
      "http":{
        "method":"GET",
        "requestUri":"/{Bucket}?metrics"
      },
      "input":{"shape":"ListBucketMetricsConfigurationsRequest"},
      "output":{"shape":"ListBucketMetricsConfigurationsOutput"},
      "documentation":"Lists the metrics configurations for the bucket."
    },
    "ListBuckets":{
      "name":"ListBuckets",
      "http":{
        "method":"GET",
        "requestUri":"/"
      },
      "input":{"shape":"ListBucketsRequest"},
      "output":{"shape":"ListBucketsOutput"},
      "__documentationUrl":"http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTServiceGET.html",
      "documentation":"Returns a list of all buckets owned by the authenticated sender of the request.",
      "alias":"GetService"
    },
    "ListBucketsExtended":{
      "name":"ListBucketsExtended",
      "http":{
        "method":"GET",
        "requestUri":"/?extended"
      },
      "input":{"shape":"ListBucketsExtendedRequest"},
      "output":{"shape":"ListBucketsExtendedOutput"},
      "documentationUrl":"https://cloud.ibm.com/docs/services/cloud-object-storage/api-reference?topic=cloud-object-storage-compatibility-api-bucket-operations#compatibility-api-list-buckets",
      "documentation":"Returns a list of all buckets owned by the authenticated sender of the request, along with the LocationConstraint describing the region that the bucket resides in and the bucket's storage tier."
    },
    "ListLegalHolds":{
      "name":"ListLegalHolds",
      "http":{
        "method":"GET",
        "requestUri":"/{Bucket}/{Key+}?legalHold"
      },
      "input":{"shape":"ListLegalHoldsRequest"},
      "output":{"shape":"ListLegalHoldsOutput"},
      "documentation":"Returns a list of legal holds on an object"
    },
    "ListMultipartUploads":{
      "name":"ListMultipartUploads",
      "http":{
        "method":"GET",
        "requestUri":"/{Bucket}?uploads"
      },
      "input":{"shape":"ListMultipartUploadsRequest"},
      "output":{"shape":"ListMultipartUploadsOutput"},
      "__documentationUrl":"http://docs.amazonwebservices.com/AmazonS3/latest/API/mpUploadListMPUpload.html",
      "documentation":"This operation lists in-progress multipart uploads."
    },
    "ListObjectVersions":{
      "name":"ListObjectVersions",
      "http":{
        "method":"GET",
        "requestUri":"/{Bucket}?versions"
      },
      "input":{"shape":"ListObjectVersionsRequest"},
      "output":{"shape":"ListObjectVersionsOutput"},
      "documentationUrl":"http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketGETVersion.html",
      "documentation":"<p>Returns metadata about all of the versions of objects in a bucket.</p>",
      "alias":"GetBucketObjectVersions"
    },
    "ListObjects":{
      "name":"ListObjects",
      "http":{
        "method":"GET",
        "requestUri":"/{Bucket}"
      },
      "input":{"shape":"ListObjectsRequest"},
      "output":{"shape":"ListObjectsOutput"},
      "errors":[
        {"shape":"NoSuchBucket"}
      ],
      "__documentationUrl":"http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketGET.html",
      "documentation":"Returns some or all (up to 1000) of the objects in a bucket. You can use the request parameters as selection criteria to return a subset of the objects in a bucket.",
      "alias":"GetBucket"
    },
    "ListObjectVersions":{
      "name":"ListObjectVersions",
      "http":{
        "method":"GET",
        "requestUri":"/{Bucket}?versions"
      },
      "input":{"shape":"ListObjectVersionsRequest"},
      "output":{"shape":"ListObjectVersionsOutput"},
      "documentationUrl":"http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketGETVersion.html",
      "documentation":"<p>Returns metadata about all of the versions of objects in a bucket.</p>",
      "alias":"GetBucketObjectVersions"
    },

    "ListObjectsV2":{
      "name":"ListObjectsV2",
      "http":{
        "method":"GET",
        "requestUri":"/{Bucket}?list-type=2"
      },
      "input":{"shape":"ListObjectsV2Request"},
      "output":{"shape":"ListObjectsV2Output"},
      "errors":[
        {"shape":"NoSuchBucket"}
      ],
      "documentation":"Returns some or all (up to 1000) of the objects in a bucket. You can use the request parameters as selection criteria to return a subset of the objects in a bucket. Note: ListObjectsV2 is the revised List Objects API and we recommend you use this revised API for new application development."
    },
    "ListParts":{
      "name":"ListParts",
      "http":{
        "method":"GET",
        "requestUri":"/{Bucket}/{Key+}"
      },
      "input":{"shape":"ListPartsRequest"},
      "output":{"shape":"ListPartsOutput"},
      "__documentationUrl":"http://docs.amazonwebservices.com/AmazonS3/latest/API/mpUploadListParts.html",
      "documentation":"Lists the parts that have been uploaded for a specific multipart upload."
    },
    "PutBucketAccelerateConfiguration":{
      "name":"PutBucketAccelerateConfiguration",
      "http":{
        "method":"PUT",
        "requestUri":"/{Bucket}?accelerate"
      },
      "input":{"shape":"PutBucketAccelerateConfigurationRequest"},
      "documentation":"Sets the accelerate configuration of an existing bucket."
    },
    "PutBucketProtectionConfiguration":{
      "name":"PutBucketProtectionConfiguration",
      "http":{
        "method":"PUT",
        "requestUri":"/{Bucket}?protection"
      },
      "input":{"shape":"PutBucketProtectionConfigurationRequest"},
      "documentation":"Sets the protection configuration of an existing bucket. EnablePermanentRetention is optional and if not included is considered to be false. Once set to true, must be included in any subsequent PUT Bucket?protection requests for that bucket."
    },
    "PutBucketAcl":{
      "name":"PutBucketAcl",
      "http":{
        "method":"PUT",
        "requestUri":"/{Bucket}?acl"
      },
      "input":{"shape":"PutBucketAclRequest"},
      "__documentationUrl":"http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketPUTacl.html",
      "documentation":"Sets the permissions on a bucket using access control lists (ACL)."
    },
    "PutBucketAnalyticsConfiguration":{
      "name":"PutBucketAnalyticsConfiguration",
      "http":{
        "method":"PUT",
        "requestUri":"/{Bucket}?analytics"
      },
      "input":{"shape":"PutBucketAnalyticsConfigurationRequest"},
      "documentation":"Sets an analytics configuration for the bucket (specified by the analytics configuration ID)."
    },
    "PutBucketCors":{
      "name":"PutBucketCors",
      "http":{
        "method":"PUT",
        "requestUri":"/{Bucket}?cors"
      },
      "input":{"shape":"PutBucketCorsRequest"},
      "__documentationUrl":"http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketPUTcors.html",
      "documentation":"Sets the cors configuration for a bucket."
    },
    "PutBucketInventoryConfiguration":{
      "name":"PutBucketInventoryConfiguration",
      "http":{
        "method":"PUT",
        "requestUri":"/{Bucket}?inventory"
      },
      "input":{"shape":"PutBucketInventoryConfigurationRequest"},
      "documentation":"Adds an inventory configuration (identified by the inventory ID) from the bucket."
    },
    "PutBucketLifecycleConfiguration":{
      "name":"PutBucketLifecycleConfiguration",
      "http":{
        "method":"PUT",
        "requestUri":"/{Bucket}?lifecycle"
      },
      "input":{"shape":"PutBucketLifecycleConfigurationRequest"},
      "documentation":"Sets lifecycle configuration for your bucket. If a lifecycle configuration exists, it replaces it."
    },
    "PutBucketMetricsConfiguration":{
      "name":"PutBucketMetricsConfiguration",
      "http":{
        "method":"PUT",
        "requestUri":"/{Bucket}?metrics"
      },
      "input":{"shape":"PutBucketMetricsConfigurationRequest"},
      "documentation":"Sets a metrics configuration (specified by the metrics configuration ID) for the bucket."
    },
    "PutBucketReplication":{
      "name":"PutBucketReplication",
      "http":{
        "method":"PUT",
        "requestUri":"/{Bucket}?replication"
      },
      "input":{"shape":"PutBucketReplicationRequest"},
      "documentation":"Creates a new replication configuration (or replaces an existing one, if present)."
    },
    "PutBucketTagging":{
      "name":"PutBucketTagging",
      "http":{
        "method":"PUT",
        "requestUri":"/{Bucket}?tagging"
      },
      "input":{"shape":"PutBucketTaggingRequest"},
      "documentationUrl":"http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketPUTtagging.html",
      "documentation":"<p>Sets the tags for a bucket.</p>"
    },
    "PutBucketVersioning":{
      "name":"PutBucketVersioning",
      "http":{
        "method":"PUT",
        "requestUri":"/{Bucket}?versioning"
      },
      "input":{"shape":"PutBucketVersioningRequest"},
      "documentationUrl":"http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketPUTVersioningStatus.html",
      "documentation":"<p>Sets the versioning state of an existing bucket. To set the versioning state, you must be the bucket owner.</p>"
    },
    "PutObject":{
      "name":"PutObject",
      "http":{
        "method":"PUT",
        "requestUri":"/{Bucket}/{Key+}"
      },
      "input":{"shape":"PutObjectRequest"},
      "output":{"shape":"PutObjectOutput"},
      "__documentationUrl":"http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTObjectPUT.html",
      "documentation":"Adds an object to a bucket."
    },
    "PutObjectAcl":{
      "name":"PutObjectAcl",
      "http":{
        "method":"PUT",
        "requestUri":"/{Bucket}/{Key+}?acl"
      },
      "input":{"shape":"PutObjectAclRequest"},
      "output":{"shape":"PutObjectAclOutput"},
      "errors":[
        {"shape":"NoSuchKey"}
      ],
      "__documentationUrl":"http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTObjectPUTacl.html",
      "documentation":"uses the acl subresource to set the access control list (ACL) permissions for an object that already exists in a bucket"
    },
    "RestoreObject":{
      "name":"RestoreObject",
      "http":{
        "method":"POST",
        "requestUri":"/{Bucket}/{Key+}?restore"
      },
      "input":{"shape":"RestoreObjectRequest"},
      "_output":{"shape":"RestoreObjectOutput"},
      "errors":[
        {"shape":"ObjectAlreadyInActiveTierError"}
      ],
      "__documentationUrl":"http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTObjectRestore.html",
      "documentation":"Restores an archived copy of an object back into Amazon S3",
      "alias":"PostObjectRestore"
    },
    "UploadPart":{
      "name":"UploadPart",
      "http":{
        "method":"PUT",
        "requestUri":"/{Bucket}/{Key+}"
      },
      "input":{"shape":"UploadPartRequest"},
      "output":{"shape":"UploadPartOutput"},
      "__documentationUrl":"http://docs.amazonwebservices.com/AmazonS3/latest/API/mpUploadUploadPart.html",
      "documentation":"<p>Uploads a part in a multipart upload.</p><p><b>Note:</b> After you initiate multipart upload and upload one or more parts, you must either complete or abort multipart upload in order to stop getting charged for storage of the uploaded parts. Only after you either complete or abort multipart upload, Amazon S3 frees up the parts storage and stops charging you for the parts storage.</p>"
    },
    "UploadPartCopy":{
      "name":"UploadPartCopy",
      "http":{
        "method":"PUT",
        "requestUri":"/{Bucket}/{Key+}"
      },
      "input":{"shape":"UploadPartCopyRequest"},
      "output":{"shape":"UploadPartCopyOutput"},
      "__documentationUrl":"http://docs.amazonwebservices.com/AmazonS3/latest/API/mpUploadUploadPartCopy.html",
      "documentation":"Uploads a part by copying data from an existing object as data source."
    }
  },
  "shapes":{
    "AbortDate":{"type":"timestamp"},
    "AbortIncompleteMultipartUpload":{
      "type":"structure",
      "members":{
        "DaysAfterInitiation":{
          "shape":"DaysAfterInitiation",
          "documentation":"Indicates the number of days that must pass since initiation for Lifecycle to abort an Incomplete Multipart Upload."
        }
      },
      "documentation":"Specifies the days since the initiation of an Incomplete Multipart Upload that Lifecycle will wait before permanently removing all parts of the upload."
    },
    "AbortMultipartUploadOutput":{
      "type":"structure",
      "members":{
        "RequestCharged":{
          "shape":"RequestCharged",
          "location":"header",
          "locationName":"x-amz-request-charged"
        }
      }
    },
    "AbortMultipartUploadRequest":{
      "type":"structure",
      "required":[
        "Bucket",
        "Key",
        "UploadId"
      ],
      "members":{
        "Bucket":{
          "shape":"BucketName",
          "location":"uri",
          "locationName":"Bucket"
        },
        "Key":{
          "shape":"ObjectKey",
          "location":"uri",
          "locationName":"Key"
        },
        "UploadId":{
          "shape":"MultipartUploadId",
          "location":"querystring",
          "locationName":"uploadId"
        },
        "RequestPayer":{
          "shape":"RequestPayer",
          "documentation":"Ignored by COS if present.",
          "location":"header",
          "locationName":"x-amz-request-payer"
        }
      }
    },
    "AbortRuleId":{"type":"string"},
    "AccelerateConfiguration":{
      "type":"structure",
      "members":{
        "Status":{
          "shape":"BucketAccelerateStatus",
          "documentation":"The accelerate configuration of the bucket."
        }
      }
    },
    "AcceptRanges":{"type":"string"},
    "AccessControlPolicy":{
      "type":"structure",
      "members":{
        "Grants":{
          "shape":"Grants",
          "documentation":"A list of grants.",
          "locationName":"AccessControlList"
        },
        "Owner":{"shape":"Owner"}
      }
    },
    "AccountId":{"type":"string"},
    "AdditionalRetentionPeriod":{"type":"integer"},
    "AllowedHeader":{"type":"string"},
    "AllowedHeaders":{
      "type":"list",
      "member":{"shape":"AllowedHeader"},
      "flattened":true
    },
    "AllowedMethod":{"type":"string"},
    "AllowedMethods":{
      "type":"list",
      "member":{"shape":"AllowedMethod"},
      "flattened":true
    },
    "AllowedOrigin":{"type":"string"},
    "AllowedOrigins":{
      "type":"list",
      "member":{"shape":"AllowedOrigin"},
      "flattened":true
    },
    "AnalyticsAndOperator":{
      "type":"structure",
      "members":{
        "Prefix":{
          "shape":"Prefix",
          "documentation":"The prefix to use when evaluating an AND predicate."
        }
      }
    },
    "AnalyticsConfiguration":{
      "type":"structure",
      "required":[
        "Id",
        "StorageClassAnalysis"
      ],
      "members":{
        "Id":{
          "shape":"AnalyticsId",
          "documentation":"The identifier used to represent an analytics configuration."
        },
        "Filter":{
          "shape":"AnalyticsFilter",
          "documentation":"The filter used to describe a set of objects for analyses. A filter must have exactly one prefix, one tag, or one conjunction (AnalyticsAndOperator). If no filter is provided, all objects will be considered in any analysis."
        },
        "StorageClassAnalysis":{
          "shape":"StorageClassAnalysis",
          "documentation":"If present, it indicates that data related to access patterns will be collected and made available to analyze the tradeoffs between different storage classes."
        }
      }
    },
    "AnalyticsConfigurationList":{
      "type":"list",
      "member":{"shape":"AnalyticsConfiguration"},
      "flattened":true
    },
    "AnalyticsExportDestination":{
      "type":"structure",
      "required":["S3BucketDestination"],
      "members":{
        "S3BucketDestination":{
          "shape":"AnalyticsS3BucketDestination",
          "documentation":"A destination signifying output to an S3 bucket."
        }
      }
    },
    "AnalyticsFilter":{
      "type":"structure",
      "members":{
        "Prefix":{
          "shape":"Prefix",
          "documentation":"The prefix to use when evaluating an analytics filter."
        },
        "Tag":{
          "shape":"Tag",
          "documentation":"The tag to use when evaluating an analytics filter."
        },
        "And":{
          "shape":"AnalyticsAndOperator",
          "documentation":"A conjunction (logical AND) of predicates, which is used in evaluating an analytics filter. The operator must have at least two predicates."
        }
      }
    },
    "AnalyticsId":{"type":"string"},
    "AnalyticsS3BucketDestination":{
      "type":"structure",
      "required":[
        "Format",
        "Bucket"
      ],
      "members":{
        "Format":{
          "shape":"AnalyticsS3ExportFileFormat",
          "documentation":"The file format used when exporting data to Amazon S3."
        },
        "BucketAccountId":{
          "shape":"AccountId",
          "documentation":"The account ID that owns the destination bucket. If no account ID is provided, the owner will not be validated prior to exporting data."
        },
        "Bucket":{
          "shape":"BucketName",
          "documentation":"The Amazon resource name (ARN) of the bucket to which data is exported."
        },
        "Prefix":{
          "shape":"Prefix",
          "documentation":"The prefix to use when exporting data. The exported data begins with this prefix."
        }
      }
    },
    "AnalyticsS3ExportFileFormat":{
      "type":"string",
      "enum":["CSV"]
    },
    "AccessKey":{
      "type":"structure",
      "members":{
        "Id":{"shape":"ID"},
        "Secret":{"shape":"Secret"}
      }
    },
    "ATSEndpoint":{
      "type":"string",
      "sensitive":true
    },
    "Body":{"type":"blob"},
    "Bucket":{
      "type":"structure",
      "members":{
        "Name":{
          "shape":"BucketName",
          "documentation":"The name of the bucket."
        },
        "CreationDate":{
          "shape":"CreationDate",
          "documentation":"Date the bucket was created."
        },
        "LocationConstraint":{
          "shape":"BucketLocationConstraint",
          "documentation": "Specifies the region where the bucket will be created. If you don't specify a region, the bucket will be created in US Standard."
        }
      }
    },
    "BucketAccelerateStatus":{
      "type":"string",
      "enum":[
        "Enabled",
        "Suspended"
      ]
    },
    "BucketAlreadyExists":{
      "type":"structure",
      "members":{
      },
      "documentation":"The requested bucket name is not available. The bucket namespace is shared by all users of the system. Please select a different name and try again.",
      "exception":true
    },
    "BucketAlreadyOwnedByYou":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "BucketCannedACL":{
      "type":"string",
      "enum":[
        "private",
        "public-read",
        "public-read-write",
        "authenticated-read"
      ]
    },
    "BucketLifecycleConfiguration":{
      "type":"structure",
      "required":["Rules"],
      "members":{
        "Rules":{
          "shape":"LifecycleRules",
          "locationName":"Rule"
        }
      }
    },
    "BucketLocationConstraint":{
      "type":"string",
      "enum":[
        "us-standard",
        "us-vault",
        "us-cold",
        "us-flex",
        "us-east-standard",
        "us-east-vault",
        "us-east-cold",
        "us-east-flex",
        "us-south-standard",
        "us-south-vault",
        "us-south-cold",
        "us-south-flex",
        "eu-standard",
        "eu-vault",
        "eu-cold",
        "eu-flex",
        "eu-gb-standard",
        "eu-gb-vault",
        "eu-gb-cold",
        "eu-gb-flex",
        "eu-de-standard",
        "eu-de-vault",
        "eu-de-cold",
        "eu-de-flex",
        "ap-standard",
        "ap-vault",
        "ap-cold",
        "ap-flex",
        "ams03-standard",
        "ams03-vault",
        "ams03-cold",
        "ams03-flex",
        "che01-standard",
        "che01-vault",
        "che01-cold",
        "che01-flex",
        "mel01-standard",
        "mel01-vault",
        "mel01-cold",
        "mel01-flex",
        "osl01-standard",
        "osl01-vault",
        "osl01-cold",
        "osl01-flex",
        "sao01-standard",
        "sao01-vault",
        "sao01-cold",
        "sao01-flex",
        "tor01-standard",
        "tor01-vault",
        "tor01-cold",
        "tor01-flex"
      ]
    },
    "BucketLoggingStatus":{
      "type":"structure",
      "members":{
        "LoggingEnabled":{"shape":"LoggingEnabled"}
      }
    },
    "BucketLogsPermission":{
      "type":"string",
      "enum":[
        "FULL_CONTROL",
        "READ",
        "WRITE"
      ]
    },
    "BucketName":{"type":"string"},
    "BucketProtectionDefaultRetention":{
      "type":"structure",
      "required":["Days"],
      "members":{
        "Days":{
          "shape":"Days"
        }
      }
    },
    "BucketProtectionMaximumRetention":{
      "type":"structure",
      "required":["Days"],
      "members":{
        "Days":{
          "shape":"Days"
        }
      }
    },
    "BucketProtectionMinimumRetention":{
      "type":"structure",
      "required":["Days"],
      "members":{
        "Days":{
          "shape":"Days"
        }
      }
    },
    "BucketProtectionStatus":{
      "type":"string",
      "enum":[
        "Retention"
      ]
    },
    "BucketVersioningStatus":{
      "type":"string",
      "enum":[
        "Enabled",
        "Suspended"
      ]
    },
    "Buckets":{
      "type":"list",
      "member":{
        "shape":"Bucket",
        "locationName":"Bucket"
      }
    },
    "BucketProtectionEnablePermanentRetention":{"type":"boolean"},
    "Buckets":{
      "type":"list",
      "member":{
        "shape":"Bucket",
        "locationName":"Bucket"
      }
    },
    "CORSConfiguration":{
      "type":"structure",
      "required":["CORSRules"],
      "members":{
        "CORSRules":{
          "shape":"CORSRules",
          "locationName":"CORSRule"
        }
      }
    },
    "CORSRule":{
      "type":"structure",
      "required":[
        "AllowedMethods",
        "AllowedOrigins"
      ],
      "members":{
        "AllowedHeaders":{
          "shape":"AllowedHeaders",
          "documentation":"Specifies which headers are allowed in a pre-flight OPTIONS request.",
          "locationName":"AllowedHeader"
        },
        "AllowedMethods":{
          "shape":"AllowedMethods",
          "documentation":"Identifies HTTP methods that the domain/origin specified in the rule is allowed to execute.",
          "locationName":"AllowedMethod"
        },
        "AllowedOrigins":{
          "shape":"AllowedOrigins",
          "documentation":"One or more origins you want customers to be able to access the bucket from.",
          "locationName":"AllowedOrigin"
        },
        "ExposeHeaders":{
          "shape":"ExposeHeaders",
          "documentation":"One or more headers in the response that you want customers to be able to access from their applications (for example, from a JavaScript XMLHttpRequest object).",
          "locationName":"ExposeHeader"
        },
        "MaxAgeSeconds":{
          "shape":"MaxAgeSeconds",
          "documentation":"The time in seconds that your browser is to cache the preflight response for the specified resource."
        }
      }
    },
    "CORSRules":{
      "type":"list",
      "member":{"shape":"CORSRule"},
      "flattened":true
    },
    "CacheControl":{"type":"string"},
    "CloudFunction":{"type":"string"},
    "CloudFunctionConfiguration":{
      "type":"structure",
      "members":{
        "Id":{"shape":"NotificationId"},
        "Event":{
          "shape":"Event",
          "deprecated":true
        },
        "Events":{
          "shape":"EventList",
          "locationName":"Event"
        },
        "CloudFunction":{"shape":"CloudFunction"},
        "InvocationRole":{"shape":"CloudFunctionInvocationRole"}
      }
    },
    "CloudFunctionInvocationRole":{"type":"string"},
    "Code":{"type":"string"},
    "CommonPrefix":{
      "type":"structure",
      "members":{
        "Prefix":{"shape":"Prefix"}
      }
    },
    "CommonPrefixList":{
      "type":"list",
      "member":{"shape":"CommonPrefix"},
      "flattened":true
    },
    "CompleteMultipartUploadOutput":{
      "type":"structure",
      "members":{
        "Location":{"shape":"Location"},
        "Bucket":{"shape":"BucketName"},
        "Key":{"shape":"ObjectKey"},
        "Expiration":{
          "shape":"Expiration",
          "documentation":"If the object expiration is configured, this will contain the expiration date (expiry-date) and rule ID (rule-id). The value of rule-id is URL encoded.",
          "location":"header",
          "locationName":"x-amz-expiration"
        },
        "ETag":{
          "shape":"ETag",
          "documentation":"Entity tag of the object."
        },
        "ServerSideEncryption":{
          "shape":"ServerSideEncryption",
          "documentation":"The Server-side encryption algorithm used when storing this object in S3 (e.g., AES256).",
          "location":"header",
          "locationName":"x-amz-server-side-encryption"
        },
        "VersionId":{
          "shape":"ObjectVersionId",
          "documentation":"<p>Version of the object.</p>",
          "location":"header",
          "locationName":"x-amz-version-id"
        },
        "SSEKMSKeyId":{
          "shape":"SSEKMSKeyId",
          "documentation":"Not returned by COS.",
          "location":"header",
          "locationName":"x-amz-server-side-encryption-aws-kms-key-id"
        },
        "RequestCharged":{
          "shape":"RequestCharged",
          "location":"header",
          "locationName":"x-amz-request-charged"
        }
      }
    },
    "CompleteMultipartUploadRequest":{
      "type":"structure",
      "required":[
        "Bucket",
        "Key",
        "UploadId"
      ],
      "members":{
        "Bucket":{
          "shape":"BucketName",
          "location":"uri",
          "locationName":"Bucket"
        },
        "Key":{
          "shape":"ObjectKey",
          "location":"uri",
          "locationName":"Key"
        },
        "MultipartUpload":{
          "shape":"CompletedMultipartUpload",
          "locationName":"CompleteMultipartUpload",
          "xmlNamespace":{"uri":"http://s3.amazonaws.com/doc/2006-03-01/"}
        },
        "UploadId":{
          "shape":"MultipartUploadId",
          "location":"querystring",
          "locationName":"uploadId"
        },
        "RequestPayer":{
          "shape":"RequestPayer",
          "documentation":"Ignored by COS if present.",
          "location":"header",
          "locationName":"x-amz-request-payer"
        },
        "RetentionExpirationDate":{
          "shape":"RetentionExpirationDate",
          "documentation":"Date on which it will be legal to delete or modify the object. You can only specify this or the Retention-Period header. If both are specified a 400 error will be returned. If neither is specified the bucket's DefaultRetention period will be used.",
          "location":"header",
          "locationName":"Retention-Expiration-Date"
        },
        "RetentionLegalHoldId":{
          "shape":"RetentionLegalHoldID",
          "documentation":"A single legal hold to apply to the object. A legal hold is a character long string of max length 64. The object cannot be overwritten or deleted until all legal holds associated with the object are removed.",
          "location":"header",
          "locationName":"Retention-Legal-Hold-ID"
        },
        "RetentionPeriod":{
          "shape":"RetentionPeriod",
          "documentation": "Retention period to store on the object in seconds. RetentionPeriod and RetentionExpirationDate are mutually exclusive, if neither is specified the bucket's DefaultRetentionPeriod value will be used. **Indefinite retention(-1)** is a valid value. **Permanent retention(-2)**, is valid only if permanent retention is enabled for the bucket.  **0** is a valid value if the bucket's MinimumRetention period is also 0." ,
          "location":"header",
          "locationName":"Retention-Period"
        }
      },
      "payload":"MultipartUpload"
    },
    "CompletedMultipartUpload":{
      "type":"structure",
      "members":{
        "Parts":{
          "shape":"CompletedPartList",
          "locationName":"Part"
        }
      }
    },
    "CompletedPart":{
      "type":"structure",
      "members":{
        "ETag":{
          "shape":"ETag",
          "documentation":"Entity tag returned when the part was uploaded."
        },
        "PartNumber":{
          "shape":"PartNumber",
          "documentation":"Part number that identifies the part. This is a positive integer between 1 and 10,000."
        }
      }
    },
    "CompletedPartList":{
      "type":"list",
      "member":{"shape":"CompletedPart"},
      "flattened":true
    },
    "Condition":{
      "type":"structure",
      "members":{
        "HttpErrorCodeReturnedEquals":{
          "shape":"HttpErrorCodeReturnedEquals",
          "documentation":"The HTTP error code when the redirect is applied. In the event of an error, if the error code equals this value, then the specified redirect is applied. Required when parent element Condition is specified and sibling KeyPrefixEquals is not specified. If both are specified, then both must be true for the redirect to be applied."
        },
        "KeyPrefixEquals":{
          "shape":"KeyPrefixEquals",
          "documentation":"The object key name prefix when the redirect is applied. For example, to redirect requests for ExamplePage.html, the key prefix will be ExamplePage.html. To redirect request for all pages with the prefix docs/, the key prefix will be /docs, which identifies all objects in the docs/ folder. Required when the parent element Condition is specified and sibling HttpErrorCodeReturnedEquals is not specified. If both conditions are specified, both must be true for the redirect to be applied."
        }
      }
    },
    "ContentDisposition":{"type":"string"},
    "ContentEncoding":{"type":"string"},
    "ContentLanguage":{"type":"string"},
    "ContentLength":{"type":"long"},
    "ContentMD5":{"type":"string"},
    "ContentRange":{"type":"string"},
    "ContentType":{"type":"string"},
    "CopyObjectOutput":{
      "type":"structure",
      "members":{
        "CopyObjectResult":{"shape":"CopyObjectResult"},
        "Expiration":{
          "shape":"Expiration",
          "documentation":"If the object expiration is configured, the response includes this header.",
          "location":"header",
          "locationName":"x-amz-expiration"
        },
        "CopySourceVersionId":{
          "shape":"CopySourceVersionId",
          "documentation":"<p/>",
          "location":"header",
          "locationName":"x-amz-copy-source-version-id"
        },
        "VersionId":{
          "shape":"ObjectVersionId",
          "documentation":"<p>Version ID of the newly created copy.</p>",
          "location":"header",
          "locationName":"x-amz-version-id"
        },
        "ServerSideEncryption":{
          "shape":"ServerSideEncryption",
          "documentation":"The Server-side encryption algorithm used when storing this object in S3 (e.g., AES256).",
          "location":"header",
          "locationName":"x-amz-server-side-encryption"
        },
        "SSECustomerAlgorithm":{
          "shape":"SSECustomerAlgorithm",
          "documentation":"If server-side encryption with a customer-provided encryption key was requested, the response will include this header confirming the encryption algorithm used.",
          "location":"header",
          "locationName":"x-amz-server-side-encryption-customer-algorithm"
        },
        "SSECustomerKeyMD5":{
          "shape":"SSECustomerKeyMD5",
          "documentation":"If server-side encryption with a customer-provided encryption key was requested, the response will include this header to provide round trip message integrity verification of the customer-provided encryption key.",
          "location":"header",
          "locationName":"x-amz-server-side-encryption-customer-key-MD5"
        },
        "SSEKMSKeyId":{
          "shape":"SSEKMSKeyId",
          "documentation":"Not returned by COS.",
          "location":"header",
          "locationName":"x-amz-server-side-encryption-aws-kms-key-id"
        },
        "RequestCharged":{
          "shape":"RequestCharged",
          "location":"header",
          "locationName":"x-amz-request-charged"
        }
      },
      "payload":"CopyObjectResult"
    },
    "CopyObjectRequest":{
      "type":"structure",
      "required":[
        "Bucket",
        "CopySource",
        "Key"
      ],
      "members":{
        "ACL":{
          "shape":"ObjectCannedACL",
          "documentation":"The canned ACL to apply to the object.",
          "location":"header",
          "locationName":"x-amz-acl"
        },
        "Bucket":{
          "shape":"BucketName",
          "location":"uri",
          "locationName":"Bucket"
        },
        "CacheControl":{
          "shape":"CacheControl",
          "documentation":"Specifies caching behavior along the request/reply chain.",
          "location":"header",
          "locationName":"Cache-Control"
        },
        "ContentDisposition":{
          "shape":"ContentDisposition",
          "documentation":"Specifies presentational information for the object.",
          "location":"header",
          "locationName":"Content-Disposition"
        },
        "ContentEncoding":{
          "shape":"ContentEncoding",
          "documentation":"Specifies what content encodings have been applied to the object and thus what decoding mechanisms must be applied to obtain the media-type referenced by the Content-Type header field.",
          "location":"header",
          "locationName":"Content-Encoding"
        },
        "ContentLanguage":{
          "shape":"ContentLanguage",
          "documentation":"The language the content is in.",
          "location":"header",
          "locationName":"Content-Language"
        },
        "ContentType":{
          "shape":"ContentType",
          "documentation":"A standard MIME type describing the format of the object data.",
          "location":"header",
          "locationName":"Content-Type"
        },
        "CopySource":{
          "shape":"CopySource",
          "documentation":"The name of the source bucket and key name of the source object, separated by a slash (/). Must be URL-encoded.",
          "location":"header",
          "locationName":"x-amz-copy-source"
        },
        "CopySourceIfMatch":{
          "shape":"CopySourceIfMatch",
          "documentation":"Copies the object if its entity tag (ETag) matches the specified tag.",
          "location":"header",
          "locationName":"x-amz-copy-source-if-match"
        },
        "CopySourceIfModifiedSince":{
          "shape":"CopySourceIfModifiedSince",
          "documentation":"Copies the object if it has been modified since the specified time.",
          "location":"header",
          "locationName":"x-amz-copy-source-if-modified-since"
        },
        "CopySourceIfNoneMatch":{
          "shape":"CopySourceIfNoneMatch",
          "documentation":"Copies the object if its entity tag (ETag) is different than the specified ETag.",
          "location":"header",
          "locationName":"x-amz-copy-source-if-none-match"
        },
        "CopySourceIfUnmodifiedSince":{
          "shape":"CopySourceIfUnmodifiedSince",
          "documentation":"Copies the object if it hasn't been modified since the specified time.",
          "location":"header",
          "locationName":"x-amz-copy-source-if-unmodified-since"
        },
        "Expires":{
          "shape":"Expires",
          "documentation":"The date and time at which the object is no longer cacheable.",
          "location":"header",
          "locationName":"Expires"
        },
        "GrantFullControl":{
          "shape":"GrantFullControl",
          "documentation":"Gives the grantee READ, READ_ACP, and WRITE_ACP permissions on the object.",
          "location":"header",
          "locationName":"x-amz-grant-full-control"
        },
        "GrantRead":{
          "shape":"GrantRead",
          "documentation":"Allows grantee to read the object data and its metadata.",
          "location":"header",
          "locationName":"x-amz-grant-read"
        },
        "GrantReadACP":{
          "shape":"GrantReadACP",
          "documentation":"Allows grantee to read the object ACL.",
          "location":"header",
          "locationName":"x-amz-grant-read-acp"
        },
        "GrantWriteACP":{
          "shape":"GrantWriteACP",
          "documentation":"Allows grantee to write the ACL for the applicable object.",
          "location":"header",
          "locationName":"x-amz-grant-write-acp"
        },
        "Key":{
          "shape":"ObjectKey",
          "location":"uri",
          "locationName":"Key"
        },
        "Metadata":{
          "shape":"Metadata",
          "documentation":"A map of metadata to store with the object in S3.",
          "location":"headers",
          "locationName":"x-amz-meta-"
        },
        "MetadataDirective":{
          "shape":"MetadataDirective",
          "documentation":"Specifies whether the metadata is copied from the source object or replaced with metadata provided in the request.",
          "location":"header",
          "locationName":"x-amz-metadata-directive"
        },
        "RetentionDirective":{
          "shape":"RetentionDirective",
          "documentation":"This header controls how the Protection state of the source object is copied to the destination object.If copied, the retention period and all legal holds are copied onto the new object. The legal hold date's is set to the date of the copy.",
          "location":"header",
          "locationName":"Retention-Directive"
        },
        "RetentionExpirationDate":{
          "shape":"RetentionExpirationDate",
          "documentation":"Date on which it will be legal to delete or modify the object. This field can only be specified if Retention-Directive is REPLACE. You can only specify this or the Retention-Period header. If both are specified a 400 error will be returned. If neither is specified the bucket's DefaultRetention period will be used. ",
          "location":"header",
          "locationName":"Retention-Expiration-Date"
        },
        "RetentionLegalHoldId":{
          "shape":"RetentionLegalHoldID",
          "documentation":"A single legal hold to apply to the object. This field can only be specified if Retention-Directive is REPLACE. A legal hold is a character long string of max length 64. The object cannot be overwritten or deleted until all legal holds associated with the object are removed.",
          "location":"header",
          "locationName":"Retention-Legal-Hold-ID"
        },
        "RetentionPeriod":{
          "shape":"RetentionPeriod",
          "documentation":"Retention period to store on the object in seconds. This field can only be specified if Retention-Directive is REPLACE. If this field and Retention-Expiration-Date are specified a 400 error is returned. If neither is specified the bucket's DefaultRetention period will be used. 0 is a legal value assuming the bucket's minimum retention period is also 0.",
          "location":"header",
          "locationName":"Retention-Period"
        },
        "ServerSideEncryption":{
          "shape":"ServerSideEncryption",
          "documentation":"The Server-side encryption algorithm used when storing this object in S3 (e.g., AES256).",
          "location":"header",
          "locationName":"x-amz-server-side-encryption"
        },
        "StorageClass":{
          "shape":"StorageClass",
          "documentation":"The type of storage to use for the object. Defaults to 'STANDARD'.",
          "location":"header",
          "locationName":"x-amz-storage-class"
        },
        "WebsiteRedirectLocation":{
          "shape":"WebsiteRedirectLocation",
          "documentation":"If the bucket is configured as a website, redirects requests for this object to another object in the same bucket or to an external URL. Amazon S3 stores the value of this header in the object metadata.",
          "location":"header",
          "locationName":"x-amz-website-redirect-location"
        },
        "SSECustomerAlgorithm":{
          "shape":"SSECustomerAlgorithm",
          "documentation":"Specifies the algorithm to use to when encrypting the object (e.g., AES256).",
          "location":"header",
          "locationName":"x-amz-server-side-encryption-customer-algorithm"
        },
        "SSECustomerKey":{
          "shape":"SSECustomerKey",
          "documentation":"Specifies the customer-provided encryption key for Amazon S3 to use in encrypting data. This value is used to store the object and then it is discarded; Amazon does not store the encryption key. The key must be appropriate for use with the algorithm specified in the x-amz-server-side​-encryption​-customer-algorithm header.",
          "location":"header",
          "locationName":"x-amz-server-side-encryption-customer-key"
        },
        "SSECustomerKeyMD5":{
          "shape":"SSECustomerKeyMD5",
          "documentation":"Specifies the 128-bit MD5 digest of the encryption key according to RFC 1321. Amazon S3 uses this header for a message integrity check to ensure the encryption key was transmitted without error.",
          "location":"header",
          "locationName":"x-amz-server-side-encryption-customer-key-MD5"
        },
        "SSEKMSKeyId":{
          "shape":"SSEKMSKeyId",
          "documentation":"Ignored by COS if present.",
          "location":"header",
          "locationName":"x-amz-server-side-encryption-aws-kms-key-id"
        },
        "CopySourceSSECustomerAlgorithm":{
          "shape":"CopySourceSSECustomerAlgorithm",
          "documentation":"Specifies the algorithm to use when decrypting the source object (e.g., AES256).",
          "location":"header",
          "locationName":"x-amz-copy-source-server-side-encryption-customer-algorithm"
        },
        "CopySourceSSECustomerKey":{
          "shape":"CopySourceSSECustomerKey",
          "documentation":"Specifies the customer-provided encryption key for Amazon S3 to use to decrypt the source object. The encryption key provided in this header must be one that was used when the source object was created.",
          "location":"header",
          "locationName":"x-amz-copy-source-server-side-encryption-customer-key"
        },
        "CopySourceSSECustomerKeyMD5":{
          "shape":"CopySourceSSECustomerKeyMD5",
          "documentation":"Specifies the 128-bit MD5 digest of the encryption key according to RFC 1321. Amazon S3 uses this header for a message integrity check to ensure the encryption key was transmitted without error.",
          "location":"header",
          "locationName":"x-amz-copy-source-server-side-encryption-customer-key-MD5"
        },
        "RequestPayer":{
          "shape":"RequestPayer",
          "documentation":"Ignored by COS if present.",
          "location":"header",
          "locationName":"x-amz-request-payer"
        }
      }
    },
    "CopyObjectResult":{
      "type":"structure",
      "members":{
        "ETag":{"shape":"ETag"},
        "LastModified":{"shape":"LastModified"}
      }
    },
    "CopyPartResult":{
      "type":"structure",
      "members":{
        "ETag":{
          "shape":"ETag",
          "documentation":"Entity tag of the object."
        },
        "LastModified":{
          "shape":"LastModified",
          "documentation":"Date and time at which the object was uploaded."
        }
      }
    },
    "CopySource":{
      "type":"string",
      "pattern":"\\/.+\\/.+"
    },
    "CopySourceIfMatch":{"type":"string"},
    "CopySourceIfModifiedSince":{"type":"timestamp"},
    "CopySourceIfNoneMatch":{"type":"string"},
    "CopySourceIfUnmodifiedSince":{"type":"timestamp"},
    "CopySourceRange":{"type":"string"},
    "CopySourceSSECustomerAlgorithm":{"type":"string"},
    "CopySourceSSECustomerKey":{
      "type":"string",
      "sensitive":true
    },
    "CopySourceSSECustomerKeyMD5":{"type":"string"},
    "CopySourceVersionId":{"type":"string"},
    "CreateBucketConfiguration":{
      "type":"structure",
      "members":{
        "LocationConstraint":{
          "shape":"BucketLocationConstraint",
          "documentation":"Specifies the region where the bucket will be created. If you don't specify a region, the bucket will be created in US Standard."
        }
      }
    },
    "CreateBucketOutput":{
      "type":"structure",
      "members":{
        "Location":{
          "shape":"Location",
          "location":"header",
          "locationName":"Location"
        }
      }
    },
    "CreateBucketRequest":{
      "type":"structure",
      "required":["Bucket"],
      "members":{
        "ACL":{
          "shape":"BucketCannedACL",
          "documentation":"The canned ACL to apply to the bucket.",
          "location":"header",
          "locationName":"x-amz-acl"
        },
        "Bucket":{
          "shape":"BucketName",
          "location":"uri",
          "locationName":"Bucket"
        },
        "CreateBucketConfiguration":{
          "shape":"CreateBucketConfiguration",
          "locationName":"CreateBucketConfiguration",
          "xmlNamespace":{"uri":"http://s3.amazonaws.com/doc/2006-03-01/"}
        },
        "GrantFullControl":{
          "shape":"GrantFullControl",
          "documentation":"Allows grantee the read, write, read ACP, and write ACP permissions on the bucket.",
          "location":"header",
          "locationName":"x-amz-grant-full-control"
        },
        "GrantRead":{
          "shape":"GrantRead",
          "documentation":"Allows grantee to list the objects in the bucket.",
          "location":"header",
          "locationName":"x-amz-grant-read"
        },
        "GrantReadACP":{
          "shape":"GrantReadACP",
          "documentation":"Allows grantee to read the bucket ACL.",
          "location":"header",
          "locationName":"x-amz-grant-read-acp"
        },
        "GrantWrite":{
          "shape":"GrantWrite",
          "documentation":"Allows grantee to create, overwrite, and delete any object in the bucket.",
          "location":"header",
          "locationName":"x-amz-grant-write"
        },
        "GrantWriteACP":{
          "shape":"GrantWriteACP",
          "documentation":"Allows grantee to write the ACL for the applicable bucket.",
          "location":"header",
          "locationName":"x-amz-grant-write-acp"
        },
        "IBMServiceInstanceId":{
          "shape":"AccountId",
          "documentation":"The storage account who will be the owner of the bucket.",
          "location":"header",
          "locationName":"ibm-service-instance-id"
        },
        "IBMSSEKPEncryptionAlgorithm":{
          "shape":"SSEKPEncryptionAlgorithm",
          "documentation":"The encryption algorithm that will be used for objects stored in the newly created bucket. Defaults to 'AES256'",
          "location":"header",
          "locationName":"ibm-sse-kp-encryption-algorithm"
        },
        "IBMSSEKPCustomerRootKeyCrn":{
          "shape":"SSEKPCustomerRootKeyCrn",
          "documentation":"Container for describing the KMS-KP Key CRN.",
          "location":"header",
          "locationName":"ibm-sse-kp-customer-root-key-crn"
        }
      },
      "payload":"CreateBucketConfiguration"
    },
    "CreateMultipartUploadOutput":{
      "type":"structure",
      "members":{
        "AbortDate":{
          "shape":"AbortDate",
          "documentation":"Date when multipart upload will become eligible for abort operation by lifecycle.",
          "location":"header",
          "locationName":"x-amz-abort-date"
        },
        "AbortRuleId":{
          "shape":"AbortRuleId",
          "documentation":"Id of the lifecycle rule that makes a multipart upload eligible for abort operation.",
          "location":"header",
          "locationName":"x-amz-abort-rule-id"
        },
        "Bucket":{
          "shape":"BucketName",
          "documentation":"Name of the bucket to which the multipart upload was initiated.",
          "locationName":"Bucket"
        },
        "Key":{
          "shape":"ObjectKey",
          "documentation":"Object key for which the multipart upload was initiated."
        },
        "UploadId":{
          "shape":"MultipartUploadId",
          "documentation":"ID for the initiated multipart upload."
        },
        "ServerSideEncryption":{
          "shape":"ServerSideEncryption",
          "documentation":"The Server-side encryption algorithm used when storing this object in S3 (e.g., AES256).",
          "location":"header",
          "locationName":"x-amz-server-side-encryption"
        },
        "SSECustomerAlgorithm":{
          "shape":"SSECustomerAlgorithm",
          "documentation":"If server-side encryption with a customer-provided encryption key was requested, the response will include this header confirming the encryption algorithm used.",
          "location":"header",
          "locationName":"x-amz-server-side-encryption-customer-algorithm"
        },
        "SSECustomerKeyMD5":{
          "shape":"SSECustomerKeyMD5",
          "documentation":"If server-side encryption with a customer-provided encryption key was requested, the response will include this header to provide round trip message integrity verification of the customer-provided encryption key.",
          "location":"header",
          "locationName":"x-amz-server-side-encryption-customer-key-MD5"
        },
        "SSEKMSKeyId":{
          "shape":"SSEKMSKeyId",
          "documentation":"Not returned by COS.",
          "location":"header",
          "locationName":"x-amz-server-side-encryption-aws-kms-key-id"
        },
        "RequestCharged":{
          "shape":"RequestCharged",
          "location":"header",
          "locationName":"x-amz-request-charged"
        }
      }
    },
    "CreateMultipartUploadRequest":{
      "type":"structure",
      "required":[
        "Bucket",
        "Key"
      ],
      "members":{
        "ACL":{
          "shape":"ObjectCannedACL",
          "documentation":"The canned ACL to apply to the object.",
          "location":"header",
          "locationName":"x-amz-acl"
        },
        "Bucket":{
          "shape":"BucketName",
          "location":"uri",
          "locationName":"Bucket"
        },
        "CacheControl":{
          "shape":"CacheControl",
          "documentation":"Specifies caching behavior along the request/reply chain.",
          "location":"header",
          "locationName":"Cache-Control"
        },
        "ContentDisposition":{
          "shape":"ContentDisposition",
          "documentation":"Specifies presentational information for the object.",
          "location":"header",
          "locationName":"Content-Disposition"
        },
        "ContentEncoding":{
          "shape":"ContentEncoding",
          "documentation":"Specifies what content encodings have been applied to the object and thus what decoding mechanisms must be applied to obtain the media-type referenced by the Content-Type header field.",
          "location":"header",
          "locationName":"Content-Encoding"
        },
        "ContentLanguage":{
          "shape":"ContentLanguage",
          "documentation":"The language the content is in.",
          "location":"header",
          "locationName":"Content-Language"
        },
        "ContentType":{
          "shape":"ContentType",
          "documentation":"A standard MIME type describing the format of the object data.",
          "location":"header",
          "locationName":"Content-Type"
        },
        "Expires":{
          "shape":"Expires",
          "documentation":"The date and time at which the object is no longer cacheable.",
          "location":"header",
          "locationName":"Expires"
        },
        "GrantFullControl":{
          "shape":"GrantFullControl",
          "documentation":"Gives the grantee READ, READ_ACP, and WRITE_ACP permissions on the object.",
          "location":"header",
          "locationName":"x-amz-grant-full-control"
        },
        "GrantRead":{
          "shape":"GrantRead",
          "documentation":"Allows grantee to read the object data and its metadata.",
          "location":"header",
          "locationName":"x-amz-grant-read"
        },
        "GrantReadACP":{
          "shape":"GrantReadACP",
          "documentation":"Allows grantee to read the object ACL.",
          "location":"header",
          "locationName":"x-amz-grant-read-acp"
        },
        "GrantWriteACP":{
          "shape":"GrantWriteACP",
          "documentation":"Allows grantee to write the ACL for the applicable object.",
          "location":"header",
          "locationName":"x-amz-grant-write-acp"
        },
        "Key":{
          "shape":"ObjectKey",
          "location":"uri",
          "locationName":"Key"
        },
        "Metadata":{
          "shape":"Metadata",
          "documentation":"A map of metadata to store with the object in S3.",
          "location":"headers",
          "locationName":"x-amz-meta-"
        },
        "ServerSideEncryption":{
          "shape":"ServerSideEncryption",
          "documentation":"The Server-side encryption algorithm used when storing this object in S3 (e.g., AES256).",
          "location":"header",
          "locationName":"x-amz-server-side-encryption"
        },
        "StorageClass":{
          "shape":"StorageClass",
          "documentation":"The type of storage to use for the object. Defaults to 'STANDARD'.",
          "location":"header",
          "locationName":"x-amz-storage-class"
        },
        "WebsiteRedirectLocation":{
          "shape":"WebsiteRedirectLocation",
          "documentation":"If the bucket is configured as a website, redirects requests for this object to another object in the same bucket or to an external URL. Amazon S3 stores the value of this header in the object metadata.",
          "location":"header",
          "locationName":"x-amz-website-redirect-location"
        },
        "SSECustomerAlgorithm":{
          "shape":"SSECustomerAlgorithm",
          "documentation":"Specifies the algorithm to use to when encrypting the object (e.g., AES256).",
          "location":"header",
          "locationName":"x-amz-server-side-encryption-customer-algorithm"
        },
        "SSECustomerKey":{
          "shape":"SSECustomerKey",
          "documentation":"Specifies the customer-provided encryption key for Amazon S3 to use in encrypting data. This value is used to store the object and then it is discarded; Amazon does not store the encryption key. The key must be appropriate for use with the algorithm specified in the x-amz-server-side​-encryption​-customer-algorithm header.",
          "location":"header",
          "locationName":"x-amz-server-side-encryption-customer-key"
        },
        "SSECustomerKeyMD5":{
          "shape":"SSECustomerKeyMD5",
          "documentation":"Specifies the 128-bit MD5 digest of the encryption key according to RFC 1321. Amazon S3 uses this header for a message integrity check to ensure the encryption key was transmitted without error.",
          "location":"header",
          "locationName":"x-amz-server-side-encryption-customer-key-MD5"
        },
        "SSEKMSKeyId":{
          "shape":"SSEKMSKeyId",
          "documentation":"Ignored by COS if present.",
          "location":"header",
          "locationName":"x-amz-server-side-encryption-aws-kms-key-id"
        },
        "RequestPayer":{
          "shape":"RequestPayer",
          "documentation":"Ignored by COS if present.",
          "location":"header",
          "locationName":"x-amz-request-payer"
        }
      }
    },
    "CreationDate":{"type":"timestamp"},
    "Date":{
      "type":"timestamp",
      "timestampFormat":"iso8601"
    },
    "Days":{"type":"integer"},
    "DaysAfterInitiation":{"type":"integer"},
    "Delete":{
      "type":"structure",
      "required":["Objects"],
      "members":{
        "Objects":{
          "shape":"ObjectIdentifierList",
          "locationName":"Object"
        },
        "Quiet":{
          "shape":"Quiet",
          "documentation":"Element to enable quiet mode for the request. When you add this element, you must set its value to true."
        }
      }
    },
    "DeleteBucketAnalyticsConfigurationRequest":{
      "type":"structure",
      "required":[
        "Bucket",
        "Id"
      ],
      "members":{
        "Bucket":{
          "shape":"BucketName",
          "documentation":"The name of the bucket from which an analytics configuration is deleted.",
          "location":"uri",
          "locationName":"Bucket"
        },
        "Id":{
          "shape":"AnalyticsId",
          "documentation":"The identifier used to represent an analytics configuration.",
          "location":"querystring",
          "locationName":"id"
        }
      }
    },
    "DeleteBucketCorsRequest":{
      "type":"structure",
      "required":["Bucket"],
      "members":{
        "Bucket":{
          "shape":"BucketName",
          "location":"uri",
          "locationName":"Bucket"
        }
      }
    },
    "DeleteBucketInventoryConfigurationRequest":{
      "type":"structure",
      "required":[
        "Bucket",
        "Id"
      ],
      "members":{
        "Bucket":{
          "shape":"BucketName",
          "documentation":"The name of the bucket containing the inventory configuration to delete.",
          "location":"uri",
          "locationName":"Bucket"
        },
        "Id":{
          "shape":"InventoryId",
          "documentation":"The ID used to identify the inventory configuration.",
          "location":"querystring",
          "locationName":"id"
        }
      }
    },
    "DeleteBucketLifecycleRequest":{
      "type":"structure",
      "required":["Bucket"],
      "members":{
        "Bucket":{
          "shape":"BucketName",
          "location":"uri",
          "locationName":"Bucket"
        }
      }
    },
    "DeleteBucketMetricsConfigurationRequest":{
      "type":"structure",
      "required":[
        "Bucket",
        "Id"
      ],
      "members":{
        "Bucket":{
          "shape":"BucketName",
          "documentation":"The name of the bucket containing the metrics configuration to delete.",
          "location":"uri",
          "locationName":"Bucket"
        },
        "Id":{
          "shape":"MetricsId",
          "documentation":"The ID used to identify the metrics configuration.",
          "location":"querystring",
          "locationName":"id"
        }
      }
    },
    "DeleteBucketPolicyRequest":{
      "type":"structure",
      "required":["Bucket"],
      "members":{
        "Bucket":{
          "shape":"BucketName",
          "location":"uri",
          "locationName":"Bucket"
        }
      }
    },
    "DeleteBucketReplicationRequest":{
      "type":"structure",
      "required":["Bucket"],
      "members":{
        "Bucket":{
          "shape":"BucketName",
          "location":"uri",
          "locationName":"Bucket"
        }
      }
    },
    "DeleteBucketRequest":{
      "type":"structure",
      "required":["Bucket"],
      "members":{
        "Bucket":{
          "shape":"BucketName",
          "location":"uri",
          "locationName":"Bucket"
        }
      }
    },
    "DeleteBucketTaggingRequest":{
      "type":"structure",
      "required":["Bucket"],
      "members":{
        "Bucket":{
          "shape":"BucketName",
          "documentation":"<p/>",
          "location":"uri",
          "locationName":"Bucket"
        }
      }
    },
    "DeleteBucketWebsiteRequest":{
      "type":"structure",
      "required":["Bucket"],
      "members":{
        "Bucket":{
          "shape":"BucketName",
          "location":"uri",
          "locationName":"Bucket"
        }
      }
    },
    "DeleteMarker":{"type":"boolean"},
    "DeleteMarkerEntry":{
      "type":"structure",
      "members":{
        "Owner":{"shape":"Owner"},
        "Key":{
          "shape":"ObjectKey",
          "documentation":"The object key."
        },
        "IsLatest":{
          "shape":"IsLatest",
          "documentation":"Specifies whether the object is (true) or is not (false) the latest version of an object."
        },
        "LastModified":{
          "shape":"LastModified",
          "documentation":"Date and time the object was last modified."
        }
      }
    },
    "DeleteMarkers":{
      "type":"list",
      "member":{"shape":"DeleteMarkerEntry"},
      "flattened":true
    },
    "DeleteObjectOutput":{
      "type":"structure",
      "members":{
        "DeleteMarker":{
          "shape":"DeleteMarker",
          "documentation":"Not returned by COS.",
          "location":"header",
          "locationName":"x-amz-delete-marker"
        },
        "RequestCharged":{
          "shape":"RequestCharged",
          "documentation":"Not returned by COS.",
          "location":"header",
          "locationName":"x-amz-request-charged"
        }
      }
    },
    "DeleteObjectRequest":{
      "type":"structure",
      "required":[
        "Bucket",
        "Key"
      ],
      "members":{
        "Bucket":{
          "shape":"BucketName",
          "location":"uri",
          "locationName":"Bucket"
        },
        "Key":{
          "shape":"ObjectKey",
          "location":"uri",
          "locationName":"Key"
        },
        "MFA":{
          "shape":"MFA",
          "documentation":"The concatenation of the authentication device's serial number, a space, and the value that is displayed on your authentication device.",
          "location":"header",
          "locationName":"x-amz-mfa"
        },
        "VersionId":{
          "shape":"ObjectVersionId",
          "documentation":"<p>VersionId used to reference a specific version of the object.</p>",
          "location":"querystring",
          "locationName":"versionId"
        },
        "RequestPayer":{
          "shape":"RequestPayer",
          "documentation":"Ignored by COS if present.",
          "location":"header",
          "locationName":"x-amz-request-payer"
        }
      }
    },
    "DeleteObjectsOutput":{
      "type":"structure",
      "members":{
        "Deleted":{"shape":"DeletedObjects"},
        "RequestCharged":{
          "shape":"RequestCharged",
          "location":"header",
          "locationName":"x-amz-request-charged"
        },
        "Errors":{
          "shape":"Errors",
          "locationName":"Error"
        }
      }
    },
    "DeleteObjectsRequest":{
      "type":"structure",
      "required":[
        "Bucket",
        "Delete"
      ],
      "members":{
        "Bucket":{
          "shape":"BucketName",
          "location":"uri",
          "locationName":"Bucket"
        },
        "Delete":{
          "shape":"Delete",
          "locationName":"Delete",
          "xmlNamespace":{"uri":"http://s3.amazonaws.com/doc/2006-03-01/"}
        },
        "MFA":{
          "shape":"MFA",
          "documentation":"The concatenation of the authentication device's serial number, a space, and the value that is displayed on your authentication device.",
          "location":"header",
          "locationName":"x-amz-mfa"
        },
        "RequestPayer":{
          "shape":"RequestPayer",
          "documentation":"Ignored by COS if present.",
          "location":"header",
          "locationName":"x-amz-request-payer"
        }
      },
      "payload":"Delete"
    },
    "DeletedObject":{
      "type":"structure",
      "members":{
        "Key":{"shape":"ObjectKey"},
        "DeleteMarker":{"shape":"DeleteMarker"}
      }
    },
    "DeletedObjects":{
      "type":"list",
      "member":{"shape":"DeletedObject"},
      "flattened":true
    },
    "Delimiter":{"type":"string"},
    "Destination":{
      "type":"structure",
      "required":["Bucket"],
      "members":{
        "Bucket":{
          "shape":"BucketName",
          "documentation":"Amazon resource name (ARN) of the bucket where you want Amazon S3 to store replicas of the object identified by the rule."
        },
        "StorageClass":{
          "shape":"StorageClass",
          "documentation":"The class of storage used to store the object."
        }
      }
    },
    "DisplayName":{"type":"string"},
    "ETag":{"type":"string"},
    "EmailAddress":{"type":"string"},
    "EncodingType":{
      "type":"string",
      "documentation":"Requests Amazon S3 to encode the object keys in the response and specifies the encoding method to use. An object key may contain any Unicode character; however, XML 1.0 parser cannot parse some characters, such as characters with an ASCII value from 0 to 10. For characters that are not supported in XML 1.0, you can add this parameter to request that Amazon S3 encode the keys in the response.",
      "enum":["url"]
    },
    "Error":{
      "type":"structure",
      "members":{
        "Key":{"shape":"ObjectKey"},
        "Code":{"shape":"Code"},
        "Message":{"shape":"Message"}
      }
    },
    "ErrorDocument":{
      "type":"structure",
      "required":["Key"],
      "members":{
        "Key":{
          "shape":"ObjectKey",
          "documentation":"The object key name to use when a 4XX class error occurs."
        }
      }
    },
    "Errors":{
      "type":"list",
      "member":{"shape":"Error"},
      "flattened":true
    },
    "Event":{
      "type":"string",
      "documentation":"Bucket event for which to send notifications.",
      "enum":[
        "s3:ReducedRedundancyLostObject",
        "s3:ObjectCreated:*",
        "s3:ObjectCreated:Put",
        "s3:ObjectCreated:Post",
        "s3:ObjectCreated:Copy",
        "s3:ObjectCreated:CompleteMultipartUpload",
        "s3:ObjectRemoved:*",
        "s3:ObjectRemoved:Delete",
        "s3:ObjectRemoved:DeleteMarkerCreated"
      ]
    },
    "EventList":{
      "type":"list",
      "member":{"shape":"Event"},
      "flattened":true
    },
    "Expiration":{"type":"string"},
    "ExpirationStatus":{
      "type":"string",
      "enum":[
        "Enabled",
        "Disabled"
      ]
    },
    "ExpiredObjectDeleteMarker":{"type":"boolean"},
    "Expires":{"type":"timestamp"},
    "ExposeHeader":{"type":"string"},
    "ExposeHeaders":{
      "type":"list",
      "member":{"shape":"ExposeHeader"},
      "flattened":true
    },
    "ExtendObjectRetentionRequest":{
      "type":"structure",
      "required":[
        "Bucket",
        "Key"
      ],
      "members":{
        "Bucket":{
          "shape":"BucketName",
          "location":"uri",
          "locationName":"Bucket"
        },
        "Key":{
          "shape":"ObjectKey",
          "location":"uri",
          "locationName":"Key"
        },
        "AdditionalRetentionPeriod":{
          "shape":"AdditionalRetentionPeriod",
          "documentation":"Additional time, in seconds, to add to the existing retention period for the object. If this field and New-Retention-Time and/or New-Retention-Expiration-Date are specified, a 400 error will be returned. If none of the Request Headers are specified, a 400 error will be returned to the user. The retention period of an object may be extended up to bucket maximum retention period from the time of the request.",
          "location":"header",
          "locationName":"Additional-Retention-Period"
        },
        "ExtendRetentionFromCurrentTime":{
          "shape":"ExtendRetentionFromCurrentTime",
          "documentation":"Retention Period in seconds. The Retention will be enforced from the object creation time until current time + the value in this header. This value has to be within the ranges defined for the bucket. If this field and Additional-Retention-Period and/or New-Retention-Period and/or New-Retentiion-Expiration-Date are specified, a 400 error will be returned. If none of the Request Headers are specified, a 400 error will be returned to the user. The retention period of an object may be extended up to bucket maximum retention period from the time of the request.",
          "location":"header",
          "locationName":"Extend-Retention-From-Current-Time"
        },
        "NewRetentionExpirationDate":{
          "shape":"NewRetentionExpirationDate",
          "documentation":"A new retention date to use for the object in place of the existing retention date.  If this value is less than the existing value stored for the object, a 400 error will be returned.  If this field and Additional-Retention-Period and/or New-Retention-Period and/or Extend-Retention-From-Current-Time are specified, a 400 error will be returned. If none of the Request Headers are specified, a 400 error will be returned to the user. The retention period of an object may be extended up to bucket maximum retention period from the time of the request.",
          "location":"header",
          "locationName":"New-Retention-Expiration-Date"
        },
        "NewRetentionPeriod":{
          "shape":"NewRetentionPeriod",
          "documentation":"Retention period, in seconds, to use for the object in place of the existing retention period stored for the object.  If this value is less than the existing value stored for the object, a 400 error will be returned.  If this field and Additional-Retention-Period and/or New-Retention-Expiration-Date and/or Extend-Retention-From-Current-Time are specified, a 400 error will be returned. If none of the Request Headers are specified, a 400 error will be returned to the user. The retention period of an object may be extended up to bucket maximum retention period from the time of the request.",
          "location":"header",
          "locationName":"New-Retention-Period"
        }
      },
      "documentation":"Container for making extensions to object retention"
    },
    "ExtendRetentionFromCurrentTime":{
      "type":"integer",
      "documentation":"Retention Period in seconds for the object.  The Retention will be enforced from the current time until current time + the value in this header.  This value has to be within the ranges defined for the bucket."
    },
    "FetchOwner":{"type":"boolean"},
    "FilterRule":{
      "type":"structure",
      "members":{
        "Name":{
          "shape":"FilterRuleName",
          "documentation":"Object key name prefix or suffix identifying one or more objects to which the filtering rule applies. Maximum prefix length can be up to 1,024 characters. Overlapping prefixes and suffixes are not supported."
        },
        "Value":{"shape":"FilterRuleValue"}
      },
      "documentation":"Container for key value pair that defines the criteria for the filter rule."
    },
    "FilterRuleList":{
      "type":"list",
      "member":{"shape":"FilterRule"},
      "documentation":"A list of containers for key value pair that defines the criteria for the filter rule.",
      "flattened":true
    },
    "FilterRuleName":{
      "type":"string",
      "enum":[
        "prefix",
        "suffix"
      ]
    },
    "FilterRuleValue":{"type":"string"},
    "GetBucketAccelerateConfigurationOutput":{
      "type":"structure",
      "members":{
        "Status":{
          "shape":"BucketAccelerateStatus",
          "documentation":"The accelerate configuration of the bucket."
        }
      }
    },
    "GetBucketAccelerateConfigurationRequest":{
      "type":"structure",
      "required":["Bucket"],
      "members":{
        "Bucket":{
          "shape":"BucketName",
          "documentation":"Name of the bucket for which the accelerate configuration is retrieved.",
          "location":"uri",
          "locationName":"Bucket"
        }
      }
    },
    "GetBucketAclOutput":{
      "type":"structure",
      "members":{
        "Owner":{"shape":"Owner"},
        "Grants":{
          "shape":"Grants",
          "documentation":"A list of grants.",
          "locationName":"AccessControlList"
        }
      }
    },
    "GetBucketAclRequest":{
      "type":"structure",
      "required":["Bucket"],
      "members":{
        "Bucket":{
          "shape":"BucketName",
          "location":"uri",
          "locationName":"Bucket"
        }
      }
    },
    "GetBucketAsperaOutput":{
      "type":"structure",
      "members":{
        "AccessKey":{
          "shape":"AccessKey",
          "documentation":"Aspera Access Key."
        },
        "ATSEndpoint":{
          "shape":"ATSEndpoint",
          "documentation":"Aspera endpoint."
        }
      }
    },
    "GetBucketAsperaRequest":{
      "type":"structure",
      "required":["Bucket"],
      "members":{
        "Bucket":{
          "shape":"BucketName",
          "location":"uri",
          "locationName":"Bucket"
        }
      }
    },
    "GetBucketAnalyticsConfigurationOutput":{
      "type":"structure",
      "members":{
        "AnalyticsConfiguration":{
          "shape":"AnalyticsConfiguration",
          "documentation":"The configuration and any analyses for the analytics filter."
        }
      },
      "payload":"AnalyticsConfiguration"
    },
    "GetBucketAnalyticsConfigurationRequest":{
      "type":"structure",
      "required":[
        "Bucket",
        "Id"
      ],
      "members":{
        "Bucket":{
          "shape":"BucketName",
          "documentation":"The name of the bucket from which an analytics configuration is retrieved.",
          "location":"uri",
          "locationName":"Bucket"
        },
        "Id":{
          "shape":"AnalyticsId",
          "documentation":"The identifier used to represent an analytics configuration.",
          "location":"querystring",
          "locationName":"id"
        }
      }
    },
    "GetBucketCorsOutput":{
      "type":"structure",
      "members":{
        "CORSRules":{
          "shape":"CORSRules",
          "locationName":"CORSRule"
        }
      }
    },
    "GetBucketCorsRequest":{
      "type":"structure",
      "required":["Bucket"],
      "members":{
        "Bucket":{
          "shape":"BucketName",
          "location":"uri",
          "locationName":"Bucket"
        },
        "MirrorDestination":{
          "shape":"MirrorDestination",
          "location":"header",
          "locationName":"Mirror-Destination"
        }
      }
    },
    "GetBucketInventoryConfigurationOutput":{
      "type":"structure",
      "members":{
        "InventoryConfiguration":{
          "shape":"InventoryConfiguration",
          "documentation":"Specifies the inventory configuration."
        }
      },
      "payload":"InventoryConfiguration"
    },
    "GetBucketInventoryConfigurationRequest":{
      "type":"structure",
      "required":[
        "Bucket",
        "Id"
      ],
      "members":{
        "Bucket":{
          "shape":"BucketName",
          "documentation":"The name of the bucket containing the inventory configuration to retrieve.",
          "location":"uri",
          "locationName":"Bucket"
        },
        "Id":{
          "shape":"InventoryId",
          "documentation":"The ID used to identify the inventory configuration.",
          "location":"querystring",
          "locationName":"id"
        }
      }
    },
    "GetBucketLifecycleConfigurationOutput":{
      "type":"structure",
      "members":{
        "Rules":{
          "shape":"LifecycleRules",
          "locationName":"Rule"
        }
      }
    },
    "GetBucketLifecycleConfigurationRequest":{
      "type":"structure",
      "required":["Bucket"],
      "members":{
        "Bucket":{
          "shape":"BucketName",
          "location":"uri",
          "locationName":"Bucket"
        }
      }
    },
    "GetBucketLocationOutput":{
      "type":"structure",
      "members":{
        "LocationConstraint":{"shape":"BucketLocationConstraint"}
      }
    },
    "GetBucketLocationRequest":{
      "type":"structure",
      "required":["Bucket"],
      "members":{
        "Bucket":{
          "shape":"BucketName",
          "location":"uri",
          "locationName":"Bucket"
        }
      }
    },
    "GetBucketLoggingOutput":{
      "type":"structure",
      "members":{
        "LoggingEnabled":{"shape":"LoggingEnabled"}
      }
    },
    "GetBucketLoggingRequest":{
      "type":"structure",
      "required":["Bucket"],
      "members":{
        "Bucket":{
          "shape":"BucketName",
          "location":"uri",
          "locationName":"Bucket"
        }
      }
    },
    "GetBucketMetricsConfigurationOutput":{
      "type":"structure",
      "members":{
        "MetricsConfiguration":{
          "shape":"MetricsConfiguration",
          "documentation":"Specifies the metrics configuration."
        }
      },
      "payload":"MetricsConfiguration"
    },
    "GetBucketMetricsConfigurationRequest":{
      "type":"structure",
      "required":[
        "Bucket",
        "Id"
      ],
      "members":{
        "Bucket":{
          "shape":"BucketName",
          "documentation":"The name of the bucket containing the metrics configuration to retrieve.",
          "location":"uri",
          "locationName":"Bucket"
        },
        "Id":{
          "shape":"MetricsId",
          "documentation":"The ID used to identify the metrics configuration.",
          "location":"querystring",
          "locationName":"id"
        }
      }
    },
    "GetBucketNotificationConfigurationRequest":{
      "type":"structure",
      "required":["Bucket"],
      "members":{
        "Bucket":{
          "shape":"BucketName",
          "documentation":"Name of the bucket to get the notification configuration for.",
          "location":"uri",
          "locationName":"Bucket"
        }
      }
    },
    "GetBucketPolicyOutput":{
      "type":"structure",
      "members":{
        "Policy":{
          "shape":"Policy",
          "documentation":"The bucket policy as a JSON document."
        }
      },
      "payload":"Policy"
    },
    "GetBucketPolicyRequest":{
      "type":"structure",
      "required":["Bucket"],
      "members":{
        "Bucket":{
          "shape":"BucketName",
          "location":"uri",
          "locationName":"Bucket"
        }
      }
    },
    "GetBucketProtectionConfigurationOutput":{
      "type":"structure",
      "members":{
        "ProtectionConfiguration":{"shape":"ProtectionConfiguration"}
      },
      "payload":"ProtectionConfiguration"
    },
    "GetBucketProtectionConfigurationRequest":{
      "type":"structure",
      "required":["Bucket"],
      "members":{
        "Bucket":{
          "shape":"BucketName",
          "location":"uri",
          "locationName":"Bucket"
        }
      }
    },
    "GetBucketReplicationOutput":{
      "type":"structure",
      "members":{
        "ReplicationConfiguration":{"shape":"ReplicationConfiguration"}
      },
      "payload":"ReplicationConfiguration"
    },
    "GetBucketReplicationRequest":{
      "type":"structure",
      "required":["Bucket"],
      "members":{
        "Bucket":{
          "shape":"BucketName",
          "location":"uri",
          "locationName":"Bucket"
        }
      }
    },
    "GetBucketTaggingOutput":{
      "type":"structure",
      "required":["TagSet"],
      "members":{
        "TagSet":{
          "shape":"TagSet",
          "documentation":"<p/>"
        }
      }
    },
    "GetBucketTaggingRequest":{
      "type":"structure",
      "required":["Bucket"],
      "members":{
        "Bucket":{
          "shape":"BucketName",
          "documentation":"<p/>",
          "location":"uri",
          "locationName":"Bucket"
        },
        "MirrorDestination":{
          "shape":"MirrorDestination",
          "location":"header",
          "locationName":"Mirror-Destination"
        }
      }
    },
    "GetBucketVersioningOutput":{
      "type":"structure",
      "members":{
        "Status":{
          "shape":"BucketVersioningStatus",
          "documentation":"<p>The versioning state of the bucket.</p>"
        },
        "MFADelete":{
          "shape":"MFADeleteStatus",
          "documentation":"<p>Specifies whether MFA delete is enabled in the bucket versioning configuration. This element is only returned if the bucket has been configured with MFA delete. If the bucket has never been so configured, this element is not returned.</p>",
          "locationName":"MfaDelete"
        }
      }
    },
[...]
